.siteHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 10dvh;
    background-color: #004500;
    color: #fff;
}

.siteFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100dvw;
    height: 10dvh;
    background-color: #004500;
    color: #fff;
}

.styleContentLayout {
    position: sticky;
    margin: 25px 16px;
    padding: 24;
    background-color: #fff;
}